header {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 20%;
   margin: 0 auto;
   background-color: rgba(14, 12, 12, 0.384);
   width: 500px;
   box-shadow: 0 0 7px rgba(233, 10, 10, 0.671);
   border-radius: 10px;
}

.some_block {
   position: fixed;
   display: flex;
   flex-direction: column-reverse;
   bottom: 1px;
   right: 1px;
   margin-right: 20px;
   margin-bottom: 15px;
}

.vk,
.inst {
   margin-bottom: 3px;
   transition: 0.3s ease-in-out;
}

.vk:hover {
   stroke: rgb(255, 255, 255);
   fill: rgb(0, 0, 0);
}

.inst:hover {
   stroke: rgb(255, 255, 255);
   fill: rgb(0, 0, 0);
}

body {
   background-image: url('../img/logo/logotip-fon-hyperau.jpg');
   /* width: 100vw; */
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.logo_type {
   width: 190px;
   transition: 0.4s ease;
}

.logo {
   margin-top: 0px;
}

.logo_type:hover {
   /* width: 85px; */
   transform: scale(1.1);
}

ul {
   display: flex;
}

.gl {
   color: aliceblue;
   margin-right: 10px;
   font-size: 20px;
   font-family: 'Comfortaa', cursive;
   display: flex;
   list-style-type: none;
   border: 2px solid rgb(255, 255, 255);
   padding: 20px;
   border-radius: 10px;
   transition: 0.4s ease;
}

.gl:hover {
   transform: scale(1.1);
   box-shadow: 0 0 15px rgba(233, 10, 10, 0.705);
}

.ultwo {
   list-style-type: none;
   position: absolute;
   display: none;
   flex-direction: column;
   left: -12.5px;
   bottom: -262px;
   border: 2px solid white;
   border-radius: 10px;
   justify-content: center;
   align-items: center;
   padding-left: 0px;
   padding: 20px;
   padding-bottom: 15px;
   transition: 0.4s ease-in-out;
   box-shadow: 0 0 15px rgba(233, 10, 10, 0.705);
   background-color: rgba(0, 0, 0, 0.849);
}

.car {
   position: relative;
}

.sp {
   margin-bottom: 15px;
   padding: 2px;
}

.sp:last-child {
   margin-bottom: 0px;
}

.b {
   font-size: 17px;
}

.car:hover .ultwo {
   display: flex;
}

.login {
   margin-left: 10px;
}
.sp-link{
   color: aliceblue;
   font-size: 17px;
}